*{
    box-sizing: border-box;
}

body{
    margin: auto;
    width: 30%;
}

label{
    display: block;
    margin-top: 15px;
}

.entrada{
    
    margin-left: 5px;
    border: 1px solid;
}

.contenedor{
    display: flex;
    margin-top: 15px;
}

.checkbox-label{
    margin: 0px;
}

.checkbox{
    margin-left: 0px;
}

.miboton{
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
    background-color: rgb(202, 198, 198);
    font-size: 13px;
    padding: 5px;
    width: 80px;
    color: rgb(71, 71, 71);
    border: 1px solid rgb(226, 222, 222);
    cursor: pointer;    
}

.botones{
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mibotonredondo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 40px;
    color: white;
    border: transparent;
    opacity: 0.7;
    box-shadow: 0px 0px 25px black;
    background-color: teal;
    cursor: pointer;
}

.mibotonredondeado{
    width: 100px;
    font-size: 20px;
    background-color:rgb(248, 245, 245);
    color:indianred;
    border-radius: 10px;
    border: 1px solid indianred;
    cursor: pointer;
}

.mibotontransparente{
    border: transparent;
    color: rgb(110, 110, 233);
    background-color: transparent;
    font-size: 15px;
    letter-spacing: 5px;
    cursor: pointer;
}